#site-navigation {
	background-color: $darkPrimaryColor;
	width: 100%;
	position: relative;
	.menu {
		margin: 0 auto 0 auto;
		width: 1228px;
		padding: 0.6em 0;
		text-transform: uppercase;
		background-image: url("./images/global-menu-icon.png");
		background-position: 15px center;
		background-repeat: no-repeat;
		background-size: 25px 25px;
		@media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
				background-image: url("./images/global-menu-icon@2x.png");
		}
		li {
			margin-right: 1.1em;
			display: inline;
			list-style-type: none;
			font-family: 'Helvetica Neue', 'Helvetica', 'Arial',sans-serif;
			&:first-child {
				margin-left: 60px;
			}
			&:last-child {
				margin-right: 0;
			}
			a {
				color: $textPrimaryColor;
				text-decoration: none;
			}
		}
	}
	.mobile-nav-toggle {
		visibility: hidden;
	}
}

@media screen and (max-width:  1268px) {
	#site-navigation {
		.menu {
			width: 1048px;
		}
	}
}

@media screen and (max-width: 1085px) {
	#site-navigation {
		.menu {
			width: auto;
		}
	}
}

@media screen and (max-width: 768px) {
}


@media screen and (max-width: 480px) {
	#site-navigation {
		height: 45px;
		background-position: center;
		background-image: url("./images/global-menu-icon.png");
		background-repeat: no-repeat;
		background-size: 25px 25px;
		@media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
			background-image: url("./images/global-menu-icon@2x.png");
		}
		.menu {
			margin: 0;
			padding: 0;
			position: absolute;
			top: 45px;
			left: 0;
			background: #E91E63;
			width: 100%;
			display: none;
			background-image: none;

			li {
				margin: 0.75em 0 0.75em 1em;
				padding: 0;
				list-style-type: none;
				font-weight: bold;
				display: block;
				&:first-child {
					margin-left: 1em;
				}
			}
			a {
				color: #FFFFFF;
				text-decoration: none;
			}
		}
		
		&.show .menu {
			visibility: visible;
			display: block;
		}

		.mobile-nav-toggle {
			visibility: visible;
			&:before{
				@include fontsize(30);
				margin-left: 0.3em;
				content: "\e700";
				display: inline-block;
				-webkit-font-smoothing: antialiased;
				font-family: 'menuicon';
				font-style: normal;
				vertical-align: middle;
				color: $textPrimaryColor;
				float: left;
			}
		}

		&.show .mobile-nav-toggle {
			visibility: visible;
			&:before{
				font-family: 'dashicons';
				content: "\f158";
			}
		}
	}
}

