.site-content .navigation-main {
	font-size: 0.85em;
	margin: 0 0 1.5em;
	overflow: hidden;
	background-color: #EEEEEE;
	padding: 10px;
	@include clearfix;
}

.site-content .nav-previous {
	float: left;
	width: 50%;
}

.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.navigation-post {
	background: #FFFFFF;
}

@media screen and (max-width: 480px) {

	.navigation-main {
		margin: 0;
		padding: 0 0 5px 0;
		text-align: center;
		@include fontsize(10);
	}

	.navigation-main ul {
		margin: 0 auto;
		padding: 0;
		width: 100%;
	}

	.navigation-main li {
		margin: 0 10px 0 0;
		list-style: none;
		display: inline;
	}

	.navigation-main a {
		width: 5em;
	}

} /* max-width 480px */