.pagination {
	text-align: center;
}

.pagination span,
.pagination a {
	border: 1px solid #B6B6B6;
	margin: 2px 2px 2px 0;
	padding: 6px 9px 5px 9px;
	text-decoration: none;
	color: #979797;
	background: #faf7f4;
}

.pagination a:hover {
	color: #FFFFFF;
	background: #d64a7e;
}

.pagination .current {
	background: #d64a7e;
	color: #FFFFFF;
}
