.pagination {
	text-align: center;
}

.pagination span,
.pagination a {
	border: 1px solid $dividerColor;
	margin: 2px 2px 2px 0;
	padding: 6px 9px 5px 9px;
	text-decoration: none;
	color: $secondaryTextColor;
}

.pagination a:hover {
	background: $primaryColor;
	color: $textPrimaryColor;
}

.pagination .current {
	border: 1px solid $darkPrimaryColor;
	border: none;
	background: $primaryColor;
	color: $textPrimaryColor;
}
