.pagination {
	padding: 20px 0 0 0;
	text-align: center;
}

.pagination span,
.pagination a {
	margin: 2px 2px 2px 0;
	padding: 6px 9px 5px 9px;
	text-decoration: none;
	color: #979797;
	background: #faf7f4;
}

.pagination a:hover {
	color: #FFFFFF;
	background: #d64a7e;
}

.pagination .current {
	padding: 6px 9px 5px 9px;
	background: #d64a7e;
	color: #FFFFFF;
}
