.page-header {
	margin: 0 0 20px 0;
}

.page-title {
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: bold;
	color: $primaryColor;
}

.page-title span {
	padding: 0 0.3em;
	font-weight: bold;
	color: $primaryTextColor;
}

@media screen and (max-width: 480px) {

	.page-title {
		font-size: 14px;
		font-size: 1.4rem;
		font-weight: normal;
	}
	
} /* max-width 480px */